# پدرام شاطری - 400211398

# پویا خانی - 99210283

# 1

In [27]:
print('---------- Version from Sys ---------- ')
import sys
print(sys.version)
print(sys.version_info)
print('---------- Version from Platform ---------- ')
import platform
print(platform.python_version())

---------- Version from Sys ----------
3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]
sys.version_info(major=3, minor=8, micro=8, releaselevel='final', serial=0)
---------- Version from Platform ----------
3.8.8

# 2

In [28]:
import datetime
print (datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S"))

2021-11-21 22:44:56

# 3

In [29]:
def print_max_in_args(*args):
    print(max(list(args)))
print_max_in_args(2,6,5,1,2,8,9)

9

# 4

In [30]:
def func(*args, **kwargs):
    print('args:', *args)
    print('kwargs:')
    [print(key, ':', value) for key, value in kwargs.items()]

func(1,2,3,4,5,d="salam",a=3,b=4)

args: 1 2 3 4 5
kwargs:
d : salam
a : 3
b : 4

# 5

In [31]:
def is_different(numbers):
    print(len(numbers) == len(set(numbers)))
is_different([1,2,3,3,4])

False

# 6

In [46]:
import regex
print(regex.findall(r'.[^A-Z]*', "Hi, How Are You?"))

['Hi, ', 'How ', 'Are ', 'You?']

# 7

In [47]:
def diff_two_lists(list1, list2):
    print(list((set(list1) - set(list2))))
    print(list((set(list2) - set(list1))))
diff_two_lists(["salam", "chetori", "pedram"],
               ["salam", "khobam", "pouya"])

['pedram', 'chetori']
['khobam', 'pouya']

# 8.a

In [48]:
import numpy as np

arr1 = np.random.randint(1,10,10)
arr2 = np.random.randint(1,10,10)
print('arr1', arr1)
print('arr2', arr2)
print('indices of same values', np.where(arr1 == arr2)[0])

arr1 [3 6 8 6 4 9 1 4 3 5]
arr2 [8 2 9 6 9 2 2 6 6 1]
indices of same values [3]

# 8.b

In [49]:
print("same value at the same index")
print(list(arr1[np.where(arr1 == arr2)]))
print("intersect")
print(list(np.intersect1d(arr1, arr2)))

same value at the same index
[6]
intersect
[1, 6, 8, 9]

# 8.c

In [50]:
print('union:', np.union1d(arr1, arr2))
print('index of max:', np.argmax(np.union1d(arr1, arr2)))

union: [1 2 3 4 5 6 8 9]
index of max: 7

# 9.a

In [51]:
import pandas as pd
df = pd.read_csv("player.csv")

In [52]:
print('statistical info')
df[["height","weight"]].describe()

statistical info

             height        weight
count  11060.000000  11060.000000
mean     181.867445    168.380289
std        6.369201     14.990217
min      157.480000    117.000000
25%      177.800000    159.000000
50%      182.880000    168.000000
75%      185.420000    179.000000
max      208.280000    243.000000

# 9.b

In [53]:
df.sort_values("height", inplace=True, ascending=False)
print('10 max height')
df.reset_index().head(10)

10 max height

,index,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,5901,5908,148325,Kristof van Hout,185306,1987-02-09 00:00:00,208.28,243
1,8004,8016,38567,Nikola Zigic,167515,1980-09-25 00:00:00,203.20,212
2,5950,5957,150297,Lacina Traore,199074,1990-05-20 00:00:00,203.20,192
3,10558,10574,543021,Vanja Milinkovic-Savic,224836,1997-02-20 00:00:00,203.20,203
4,1298,1301,150209,Bogdan Milic,189967,1987-11-24 00:00:00,203.20,216
5,3270,3274,601304,Fejsal Mulic,226114,1994-10-03 00:00:00,203.20,185
6,5797,5804,96465,Kevin Vink,193674,1984-07-30 00:00:00,203.20,194
7,8273,8285,41129,Paolo Acerbis,137130,1981-05-05 00:00:00,203.20,190
8,11027,11043,30850,Zeljko Kalac,51883,1972-12-16 00:00:00,203.20,209
9,1923,1926,103428,Costel Pantilimon,192613,1987-02-01 00:00:00,203.20,212

In [54]:
print('10 min height')
df.reset_index().tail(10)

10 min height

,index,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
11050,3442,3446,215412,Fouad Rachid,201504,1991-11-15 00:00:00,162.56,126
11051,829,832,11327,Anthony Deroin,51121,1979-03-15 00:00:00,162.56,146
11052,1081,1084,30691,Bakari Kone,137113,1981-09-17 00:00:00,162.56,134
11053,3580,3584,143752,Frederic Sammaritano,187988,1986-03-23 00:00:00,162.56,146
11054,8672,8686,46891,Quentin Othon,179794,1988-03-27 00:00:00,162.56,141
11055,8251,8263,46384,Pablo Piatti,183899,1989-03-31 00:00:00,162.56,139
11056,2853,2857,278917,Edgar Salli,205753,1992-08-17 00:00:00,162.56,141
11057,7247,7258,29587,Maxi Moralez,183895,1987-02-27 00:00:00,160.02,126
11058,2609,2612,103139,Diego Buonanotte,170719,1988-04-19 00:00:00,160.02,123
11059,5446,5453,97226,Juan Quero,171126,1984-10-17 00:00:00,157.48,117

# 9.c

In [55]:
df2 = pd.read_csv("Player_Attributes.csv")
temp = df2.groupby(['player_api_id'])[['overall_rating']].mean().sort_values('overall_rating', ascending=False)
temp.head(10)

               overall_rating
player_api_id
30981               92.192308
30893               91.280000
30924               88.458333
30955               88.320000
35724               88.285714
30834               87.840000
39854               87.636364
30829               87.222222
30657               86.954545
30894               86.733333

In [56]:
temp.tail(10)

               overall_rating
player_api_id
177472              47.333333
42149               47.000000
614951              47.000000
22343               46.000000
107283              46.000000
127141              45.500000
112561              45.200000
107416              45.000000
177471              43.750000
67396               43.000000

# 9.d

In [57]:
df2.drop_duplicates(subset={'player_api_id'}, inplace=True)
df2.sort_values(['agility', 'strength'], ascending=(False, True))
df2[['player_api_id', 'agility', 'strength']].reset_index().head(100)

    index  player_api_id  agility  strength
0       0         505942     59.0      76.0
1       5         155782     78.0      56.0
2      38         162549     85.0      71.0
3      64          30572     62.0      90.0
4      87          23780     41.0      75.0
..    ...            ...      ...       ...
95   1497         310346     54.0      71.0
96   1502          68962     70.0      74.0
97   1520         429870     54.0      78.0
98   1535          23133     61.0      67.0
99   1552         420209     57.0      43.0

[100 rows x 4 columns]

# 10
generators use YIELD keyword to get one value from function at a time dynamicly, one of the advantages of generator over iterator is that the next value is only generated only after first one is consumed ( memory efficient ), another advantage is that we don't need to wait for all values to generated ( lazy load )

In [58]:
def get_sequence_upto(x):
    for i in range(x):
        yield i
gen = get_sequence_upto(7)
while True:
    try:
        print ("next: ", next(gen))
    except StopIteration:
        break

next:  0
next:  1
next:  2
next:  3
next:  4
next:  5
next:  6

# 11

In [59]:
func = lambda arr : [x for x in arr if (x % 13 == 0 or x % 19 == 0)]
func([13,14,15,16,19,22,26,38,40])

[13, 19, 26, 38]